<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Sample web service</title>
  </head>
  <body>
    <div id="content">
      <header>
        <p>ようこそ、<%= user.name !== '' ? user.name : 'ゲスト'  %>さん</p>
        <%_
        switch (user.username) {
          case '':
        _%>
          <p><a href="/login">ログイン</a></p>
        <%_
           break;
              default:
        _%>
          <div class="assign">
            <form action="/assign" method="post">
              <input type="submit" value="RPアサイン">
            </form>
          </div>
          <p><a href="/logout">ログアウト</a></p>
        <%_ } _%>
        </header>
      <%_
      if (user.username === '') {
      } else {
      _%>
        <table id="user-info">
          <tr>
            <td>名前:</td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <td>住所:</td>
            <td><%= user.address %></td>
          </tr>
          <tr>
            <td>性別:</td>
            <td><%= user.gender %></td>
          </tr>
          <tr>
            <td>生年月日:</td>
            <td><%= user.dateOfBirth %></td>
          </tr>
          <tr>
            <td>プラットフォーム ユニークID:</td>
            <td><%= user.uniqueId %></td>
          </tr>
          <tr>
            <td>User ID:</td>
            <td><%= user.sub %></td>
          </tr>
          <tr>
            <td>Access Token:</td>
            <td><div class="word-break-all"><%= user.accessToken %></div></td>
          </tr>
        </table>
      <%_ } _%>

      <div id="token-info">
        <p>keycloak-id-token: <br><%= JSON.stringify(user.idTokenContent) %></p>
        <p>keycloak-token: <br><%= JSON.stringify(user.tokenContent) %></p>
      </div>
    </div>
  </body>
</html>
